<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YT_CAD_TOOL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="YT_CAD_TOOL.Properties.Settings.HDC_SPECConnectionString"
            connectionString="Data Source=192.168.0.253\SQLEXPRESS,1433;Initial Catalog=HDC.SPEC;User ID=abies;Password=YT!DEV!0527;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="YT_CAD_TOOL.Properties.Settings.HDC_SPECConnectionString1"
            connectionString="Data Source=192.168.0.253\SQLEXPRESS,1433;Initial Catalog=HDC.SPEC;User ID=abies;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <YT_CAD_TOOL.Properties.Settings>
            <setting name="t_min" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="t_max" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="c_top" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="c_top2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t_size" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="t_extend" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="t_distance" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="t_distance2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="layer01" serializeAs="String">
                <value>없음</value>
            </setting>
            <setting name="layer02" serializeAs="String">
                <value>없음</value>
            </setting>
            <setting name="layer03" serializeAs="String">
                <value>없음</value>
            </setting>
            <setting name="layer04" serializeAs="String">
                <value>없음</value>
            </setting>
            <setting name="c_top3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="c_top4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t_AD" serializeAs="String">
                <value>100</value>
            </setting>
        </YT_CAD_TOOL.Properties.Settings>
    </userSettings>
</configuration>